@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);
body {
	text-align       : left;
	font-family      : Verdana, serif;
	font-weight      : bold;
	font-size        : 12px;
	color            : #444444;
	background-color : lightyellow;
}
table {
	text-align       : center;
	font-family      : Verdana, serif;
	font-weight      : bold;
	font-size        : 12px;
	color            : #444444;
	background-color : #ffffff;
	border           : 1px solid #6699cc;
	border-collapse  : collapse;
	border-spacing   : 0;
}
td {
	padding-left     : 5px;
	padding-right    : 5px;
	white-space      : nowrap;
	text-align       : right;
	border           : 1px solid #6699cc;
	background-color : #bbccdd;
	width            : 5em;
}
.center {
	text-align : center;
}
.left {
	text-align : left;
}
.header {
	font-weight : bold;
	font-size   : 24px;
	padding     : 10px;
}
.white {
	background-color : #ffffff;
	border-top       : 1px solid #eeeeee;
	border-left      : 1px solid #eeeeee;
}
.light {
	background-color : #ddeeff;
}
.personName {
	width : 10em;
}
.negative {
	color : #ff4040;
}
.wide {
	width : 7em;
}
.notInTotals {
	background-color : #aaaaaa;
}
.tooltipped {
	position : relative;
	display  : inline-block;
}
.tooltipped .tooltiptext {
	visibility       : hidden;
	width            : 120px;
	background-color : #555555;
	color            : #ffffff;
	text-align       : center;
	border-radius    : 6px;
	padding          : 5px 0;
	position         : absolute;
	z-index          : 1;
	bottom           : 125%;
	left             : 50%;
	margin-left      : -60px;
	opacity          : 0;
	transition       : opacity 1.0s;
}
.tooltipped .tooltiptext::after {
	content      : "";
	position     : absolute;
	top          : 100%;
	left         : 50%;
	margin-left  : -5px;
	border-width : 5px;
	border-style : solid;
	border-color : #555555 transparent transparent transparent;
}
.tooltipped:hover .tooltiptext {
	visibility : visible;
	opacity    : 1;
}
.terminal {
	background-color : black;
	background-image : radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
	display          : block;
	overflow         : auto;
	color            : white;
	padding          : 20px;
	margin           : 0 0 20px 0;
	font             : 1.1rem Inconsolata, monospace;
}
.terminal-title {
	background-color : #4caf50;
	display          : block;
	overflow         : auto;
	color            : white;
	padding          : 14px 16px;
	margin           : 20px 0 0 0;
	font             : 1.1rem Verdana, serif;
	font-weight      : bold;
	width            : 8em;
	text-align       : center;
}
.error {
	color : orangered;
}
.info {
	color : greenyellow;
}
.trace {
	color : powderblue;
}
.debug {
	color : deepskyblue;
}
.budget {
	background-color : palegreen;
}
ul {
	font             : 1.1rem Inconsolata, monospace;
	list-style-type  : none;
	margin           : 0;
	padding          : 0;
	overflow         : hidden;
	background-color : #333333;
	margin-bottom    : 2px;
}
li {
	float     : left;
	min-width : 4em;
}
li a {
	display         : block;
	color           : white;
	text-align      : center;
	padding         : 14px 16px;
	text-decoration : none;
}
li a:hover:not(.active) {
	background-color : darkgreen;
}
.active {
	background-color : #4caf50;
	width            : 8em;
	text-align       : left;
	font-family      : Verdana, serif;
	font-weight      : bold;
}
.separator {
	height : 100px;
}
.iconButton {
	background-color : darkorange;
	border           : none;
	color            : white;
	padding          : 5px 9px;
	font-size        : 16px;
	cursor           : pointer;
	float            : right;
}
.iconButton:hover {
	background-color : orangered;
}