name: build
on: [ push, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ALLREP_TOKEN: "${{secrets.ALLREP_TOKEN}}"
    steps:

      #### prepare #####################################################################################################
      - name: "checkout"
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: "checkout"
        uses: actions/checkout@v2
        with:
          repository: "ModelingValueGroup/time-sheets-mvg"
          token: "${{secrets.ALLREP_TOKEN}}"
          path: "time-sheets-mvg"

      - name: "try"
        run: |
          ls -l
          ls -l *

      - name: "setup JDK"
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: zulu

      #### build ######################################################################################################
      - name: "build"
        run:  |
          ./gradlew build