name: build
on:
  push:
  schedule:
    - cron: '0 1,9,12,15,18,21 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ALLREP_TOKEN: "${{secrets.ALLREP_TOKEN}}"
      FORCE_FULL_REGEN: false
    steps:

      #### prepare #####################################################################################################
      - name: "checkout"
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: "setup JDK 16"
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: zulu

      #### build #######################################################################################################
      - name: "build"
        run: |
          ./gradlew --stacktrace --scan build

      #### run #########################################################################################################
      - name: "checkout-test"
        uses: actions/checkout@v2
        with:
          repository: "ModelingValueGroup/time-sheets-mvg"
          token: "${{secrets.ALLREP_TOKEN}}"
          path: "time-sheets-mvg"

      - name: "git-prepare"
        run: |
          cd time-sheets-mvg
          git config --global user.email "automation@modelingvalue.nl"
          git config --global user.name "Automation through Actions"
          if [[ "$FORCE_FULL_REGEN" == false ]] && (( 3 < $(date +%H | sed 's/^0*//'))); then
            echo "true"  > ~/only-this-year
          else
            echo "false" > ~/only-this-year
            git rm raws/*
            git rm docs/*
          fi

      - name: "test-run"
        run: |
          cd time-sheets-mvg
          echo '${{secrets.TIMESHEET_REPO_JSON}}' > time-sheets-secrets.json
          tar xf ../build/distributions/time-sheets.tar

          ###############################
          export TIME_SHEETS_OPTS=""
          export TIME_SHEETS_OPTS+=" -Duser.timezone=Europe/Amsterdam"
          export TIME_SHEETS_OPTS+=" -DTRACE_TO_STDERR=true"
          export TIME_SHEETS_OPTS+=" -DCURRENT_YEAR_ONLY=$(cat ~/only-this-year)"

          time-sheets/bin/time-sheets time-sheets-secrets.json time-sheets-mvg.json
          ###############################

          rm -rf time-sheets time-sheets-secrets.json

      - name: "git-push"
        run: |
          cd time-sheets-mvg
          git add raws/*
          git add docs/*
          if ! git diff --cached --exit-code >/dev/null; then
            echo "need to commit $(git status --porcelain | wc -l) files..."
            git commit -m "new timesheets @$(date)"
            git push
          else
            echo "nothing changed, nothing to commit!"
          fi
