name: build
on:
  push:
  schedule:
    - cron: '0 1,9,12,15,18,21 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ALLREP_TOKEN: "${{secrets.ALLREP_TOKEN}}"
    steps:

      #### prepare #####################################################################################################
      - name: "checkout"
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: "setup JDK 16"
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: zulu

      #### build #######################################################################################################
      - name: "build"
        run: |
          ./gradlew --stacktrace --scan build

      #### run #########################################################################################################
      - name: "checkout-test"
        uses: actions/checkout@v2
        with:
          repository: "ModelingValueGroup/time-sheets-mvg"
          token: "${{secrets.ALLREP_TOKEN}}"
          path: "time-sheets-mvg"

      - name: "test-run"
        run: |
          cd time-sheets-mvg
          echo '${{secrets.TIMESHEET_REPO_JSON}}' > time-sheets-secrets.json
          tar xf ../build/distributions/time-sheets.tar
          ###############################
          night="$(echo "$((3<$(date +%H)))" | sed 's/0/false/;s/1/true/')"
          export TIME_SHEETS_OPTS="-Duser.timezone=Europe/Amsterdam -DTRACE_TO_STDERR=true -DCURRENT_YEAR_ONLY=$night"
          export TIME_SHEETS_OPTS="-Duser.timezone=Europe/Amsterdam -DTRACE_TO_STDERR=true -DCURRENT_YEAR_ONLY=false" # TODO tmp
          time-sheets/bin/time-sheets time-sheets-secrets.json time-sheets-mvg.json
          ###############################
          rm -rf time-sheets time-sheets-secrets.json

      - name: "gi-push"
        run: |
          cd time-sheets-mvg
          git config --global user.email "automation@modelingvalue.nl"
          git config --global user.name "Automation through Actions"
          git add raws/*.html
          git add docs/*.html
          if ! git diff --cached --exit-code >/dev/null; then
            git commit -m "new timesheets @$(date)"
            git push
          fi
