name: build
on:
  push:
  schedule:
    - cron: '0 1,9,12,15,18,21 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ALLREP_TOKEN: "${{secrets.ALLREP_TOKEN}}"
    steps:

      #### prepare #####################################################################################################
      - name: "checkout"
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: "setup JDK"
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: zulu

      #### build #######################################################################################################
      - name: "build"
        run:  |
          ./gradlew --stacktrace --scan build

      #### run #########################################################################################################
      - name: "checkout"
        uses: actions/checkout@v2
        with:
          repository: "ModelingValueGroup/time-sheets-mvg"
          token: "${{secrets.ALLREP_TOKEN}}"
          path: "time-sheets-mvg"

      - name: "run"
        run: |
          cd time-sheets-mvg
          echo '${{secrets.TIMESHEET_REPO_JSON}}' > time-sheets-secrets.json
          tar xf ../build/distributions/time-sheets.tar
          ###############################
          export CURRENT_YEAR_ONLY="$(echo "$((3<$(date +%H)))" | sed 's/0/false/;s/1/true/')"
          time-sheets/bin/time-sheets time-sheets-secrets.json time-sheets-mvg.json
          ###############################
          rm -rf time-sheets time-sheets-secrets.json

          git config --global user.email "automation@modelingvalue.nl"
          git config --global user.name "Automation through Actions"
          git add unprotected/*.html
          git add docs/*.html
          git commit -m "new timesheets @$(date)"
          git push
